{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
    <h1 id="center" class="mt-5">Список задач</h1>
{% if is_paginated %}
    <h3 id="center">Вы сейчас на {{ page_obj.number }} странице</h3>
   {% include 'partial/pagination.html' %}
{% endif %}
    <div class="row">
        {% for task in tasks %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card my-4" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">{{ task.pk }} | {{ task.summary }}</h5>
                    <h6 class="card-status px-1 py-1">Статус: <i>{{ task.status }}</i></h6>
                    <h6 class="card-type px-1 py-1">Типы задачи: {% for type in task.type.all %}
                        <i>{{ type.name }};</i>
                    {% endfor %}
                    </h6>
                    <p class="date">Создано: {{ task.created_at }}</p>
                    <p class="date">Обновлено: {{ task.updated_at }}</p>
                    <a href="{% url 'webapp:view' task.pk%}">Подробнее</a>
                {% if user.is_authenticated %}
                    {% if perms.webapp.delete_task %}
                    <a href="{% url 'webapp:delete' task.pk%}">Удалить</a>
                        {% endif %}
                    {% if perms.webapp.change_task %}
                    <a href="{% url 'webapp:update' task.pk %}">Обновить</a>
                        {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}