{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
    <h1 id="center" class="my-3">Мои проекты</h1>
    {% include 'partial/article_list.html' %}
    <h1 id="center" class="mt-5">Список проектов</h1>
{% if is_paginated %}
    <h3 id="center">Вы сейчас на {{ page_obj.number }} странице</h3>
   {% include 'partial/pagination.html' %}
{% endif %}
    <div class="row">
        {% for project in projects %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card my-4" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">{{ project.pk }} | {{ project.name }}</h5>
                    <p class="date">Дата начала: {{ project.start_date }}</p>
                    <p class="date">Дата окончания: {{ project.end_date }}</p>
                    <a href="{% url 'webapp:project_view' project.pk%}">Подробнее</a>
                    {% if user.is_authenticated %}
                        {% if perm.webapp.delete_project %}
                    <a href="{% url 'webapp:project_delete' project.pk%}">Удалить</a>
                        {% endif %}
                        {% if perm.webapp.change_project %}
                    <a href="{% url 'webapp:project_update' project.pk %}">Обновить</a>
                            {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}